$darkpink: #F498AD;
$lightpink: #f5c4cf;
$pink: rgb(255, 192, 203);
$white: #ffffff;
$black: #000000;
$purple: rgb(70, 28, 109);
$purple-transp:rgba($purple, 0.842);
$light: rgb(252, 252, 252);
$gray: rgb(128, 128, 128);
$darkgray-transp: rgba(182, 181, 181, 0.555);
$purple-gray: #d4cacd4b;