@font-face {
	font-family: 'Asap';
	src: url(../fonts/Asap_Expanded-Medium.ttf);
}
@font-face {
	font-family: 'Pasifico';
	src: url(../fonts/Pacifico-Regular.ttf);
}
@font-face {
	font-family: 'Overpass';
	src: url(../fonts/Overpass-Medium.ttf);
}