@import "../../assets/variables/colors.scss";
.table{
    margin: 50px 20%;
    /*border: 1px solid #000000;*/
    border-radius: 10px;
}
.table-title{
    background-color: $darkpink;
    color: $light;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
}
.table-english, .table-transcription, .table-russian, .table-tags, .table-edit, .table-delete {
    border: 1px solid $white;
    padding: 2px;
    height: 40px;
}
th{
    width: 200px;
    max-width: 100%;
}