@import "../../assets/variables/colors.scss";
.table{
    margin: 50px 20%;
    /*border: 1px solid #000000;*/
    border-radius: 10px;
    margin-top: 100px;
}
.tableTitle{
    background-color: $darkpink;
    color: $light;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
}
.tableEnglish, .tableTranscription, .tableRussian, .tableTags, .tableEdit, .tableDelete {
    border: 1px solid $white;
    padding: 2px;
    height: 40px;
}
td{
    width: 200px;
    max-width: 100%;
}