@import "../../assets/variables/colors.scss";
@import "../../assets/variables/fonts.scss";
.tablerow{
  border: 1px solid $white;
  background-image: linear-gradient($darkpink, $lightpink);
}

.rowEdit, .rowSave, .rowDelete, .rowCansel{
  display: flex;
  flex-wrap: wrap;
  width: 40px;
  height: 40px;
  background-color: $darkpink;
  border-radius: 10px;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
  &:hover {
    width: 38px;
    cursor: pointer;
    border: 2px solid $black;
    background-color: $lightpink;
  }
  &:disabled{
    background-color: $darkgray-transp;
  }
}
.save, .cansel{
  width: 28px;
  height: 28px;
}
.inputEnglish, .inputTranscription, .inputRussian, .inputTags{
  font-family: 'Overpass';
  width: 100%;
  height: 25px;
  max-width: 110px;
  border: 1px dotted $pink;
  border-radius: 10px;
  color: $gray;
}
.inputError {
  font-family: 'Overpass';
  width: 100%;
  height: 25px;
  max-width: 110px;
  border-radius: 10px;
  border: 1px solid rgb(255, 0, 0);
  color: rgb(255, 0, 0);
}
.errorMessage{
  font-family: 'Overpass';
  color: rgb(131, 2, 2);
  font-size: 12px;
}
